body {
padding-left: 1%;
}

.status-msg {
padding-left: 15px;
}

.item-list {
padding-top: 20px;
padding-bottom: 20px;
}

.box:checked + label {
  text-decoration: line-through;
  color: #adb5bd;
}


.btn-edit {
margin-right: 5px;
background-color: green;
}

.btn-delete {
background-color: red;
margin-right: 5px;
}