<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>

    <link rel="stylesheet" href="./static/styles/homepage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap" rel="stylesheet">


</head>
<body>

<h1>My Shopping List</h1>
    <div class="row home-row">
        {% if items == []: %}
        <p class="status-msg">Shopping list is empty.</p>
        {% endif %}
    <ul style="list-style: none;">
        {% for item in items %}
        <li class="item-list">

            {{item.item}} - {{item.category}} - {{item.price}}

            <a class="btn btn-info" href="{{ url_for('edit', id=item.id) }}">Edit Price</a>
            <a class="btn btn-danger" href="{{ url_for('delete', id=item.id) }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
        </div>
<a class="btn btn-info" href="{{ url_for('add') }}">Add New Item</a>

</body>
</html>