{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Price</title>

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/editpage.css">

</head>
<body>

    <div class="row">
            <div class="col-lg-5 mx-auto">
                <div class="card rounded border-0 shadow-sm position-relative">
                    <div class="card-body p-5">
                        <div class="d-flex align-items-center mb-4 pb-4 border-bottom">
                            <div class="ms-3">
                                <h4 class="text-uppercase fw-weight-bold mb-0">Edit Item</h4>
                            </div>
                        </div>
                        <form action="{{ url_for('edit') }}" method="POST">
                            <ul class="list-inline">
                                <li><p>Item Name: {{item.item}}</p></li>
                                <li><p>Current Price {{item.price}} EUR</p></li>
                             <input hidden="hidden" name="id" value="{{item.id}}">
                                <li><input name="price" type="number" min="0" required="required" step="0.1" placeholder="New Price"></li>
                                <li><button class="btn btn-secondary" type="submit">Change Price</button></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
    </div>




</body>
</html>

{% endblock %}